In [ ]:
print ("Hello World")

In [16]:
name = "frederick R"
print (name)

frederick R

In [3]:
name = 'umair'
age = 30 
height = 172.5 # float
b = True

In [4]:
print (type(name) )

<class 'str'>

In [5]:
print(type(age))

<class 'int'>

In [6]:
print(type(height))

<class 'float'>

In [ ]:
print(type(b))

bool

In [ ]:
# in future after
# tablet object
# computer object

#### simple calculator (it will have x and y and pritn sum diff product and division)

In [ ]:
x = 200000000 # i am writing an int in variable x
y = 4243243324 

s = x+y # x and y are adding via + sign and saving to s variable
d = x-y
p = x*y
di = x/y 

print ('sum is ',s)
print ('diff is ',d)
print ('product is ',p)
print ('division is ',di)

sum is  4443243324
diff is  -4043243324
product is  848648664800000000
division is  0.04713375706474098